@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
pre {
    margin: 0;
    padding: 0;
}

/* html,
body {
    min-height: 100%;
    overflow-x: hidden;
} */

:root{
    --black : #000;
    --white :#fff;
    --main-color : #adf;
    --deep-black : #103783;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #1abc9c;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


/* main carousel */
  .swiperOne {
      position: relative;
      height: 100%;
  }

  .swiperOne {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
  }

 .swiperOne .swiper {
      width: 100%;
      height: 100%;
  }

.swiperOne  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }

 .swiperOne  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }








@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .links.active {
        display: flex;
        
    }

    .links a {
        padding: 10px 20px;
    }

    .line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin: 20px 0;
    }
}