<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>You are having your consultation appointment with
      {{provider}}
      in 10 mins.</p>
    <p>Thank you.</p>
    <h4>The Vhealth Team.</h4>
  </body>
</html>
