<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>Your booking appointment with
      {{provider}}
      at
      {{time}}
      on
      {{date}}
      has been scheduled</p>
    <p>Thank you.</p>
    <h4>The Vhealth Team.</h4>
  </body>
</html>
