<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{firstName}},</p>
    <p>Forgot your password?</p>
    <p>
      submit a PATCH request with your new password and confirm password to:
      {{link}}</p>
    <p>The verification token will be valid for 10 minutes. Please do not share
      this link with anyone.</p>
    {{!-- <a href='{{link}}'>Reset Password</a> --}}
    <p> If you didn't forget your password, please ignore this email.</p>
    <h4>The Vhealth Team.</h4>
  </body>
</html>
